
body {
    background-image: url("../images/bg.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


html, body {
    margin: 0;
    padding: 0;
}

div {
    text-align: center;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 50px;
    margin: 0;
    font-family: 'Agency FB';
}


h2 {
    font-size: 35px;
    font-family: 'Roboto Mono', monospace;
}

.link-container {

    display: flex;
    justify-content: center;
    font-size: 22px;
    border-top-style: solid;
    border-color: black;
    border-width: 5px;
    margin-top: 0px;
}

.link-item {
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
    margin-right: 4%;
    font-family: 'Roboto Mono', monospace;
}

a:visited {
    color: rgb(255, 255, 255);
}


.gameBox {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    width: 400px;
    margin: 0 auto;
    border: 1px solid lightgray; 
    padding: 20px;
    background: black;
    color: white;
    border-radius: 8px;
}

    .gameBox div {
        width: 100%; 
        display: flex;
    }   

    .gameBox label {
        width: 150px; 
        font-weight: bold;
        text-align: left; 
    }

.game-info {
    flex: 1; 
}